:root {
    /* Colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    /* Font */
    --family-sans: "Inter", sans-serif;
    --font-size: 14px;
    --font-weight-sm: 400;
    --font-weight-md: 600;
    --font-weight-lg: 700;

    /* Spacing */
    --space-100: 0.5rem; /* 8px */
    --space-200: 1rem; /* 16px */
    --space-300: 1.5rem; /* 24px */
    --space-400: 2rem; /* 32px */
    --space-500: 2.5rem; /* 40px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    color: hsla(0, 0%, 100%, 0.7);
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
}

picture,
img {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-sm);
}

strong {
    color: var(--green);
}

a {
    color: var(--white);
    text-decoration: none;
}

li {
    list-style-type: none;
}