:root {
    /* Colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    /* Font */
    --family-sans: "Inter", sans-serif;
    --font-size: 14px;
    --font-weight-sm: 400;
    --font-weight-md: 600;
    --font-weight-lg: 700;

    /* Spacing */
    --space-100: 0.5rem; /* 8px */
    --space-200: 1rem; /* 16px */
    --space-300: 1.5rem; /* 24px */
    --space-400: 2rem; /* 32px */
    --space-500: 2.5rem; /* 40px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    color: hsla(0, 0%, 100%, 0.7);
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
}

picture,
img {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-sm);
}

strong {
    color: var(--green);
}

a {
    color: var(--white);
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1440px;
    min-height: 100dvh;
    margin-inline: auto;
    display: grid;
    place-items: center;
    padding-inline: var(--space-400);
}

.button {
    --link-color: var(--grey-700);
    --link-text-color: var(--white);

    display: block;
    cursor: pointer;
    border: 0;
    width: 100%;
    
    background-color: var(--link-color);
    color: var(--link-text-color);
    text-align: center;
    padding-block: var(--space-200);
    border-radius: 0.5rem;
    font-weight: var(--font-weight-lg);

    &:hover,
    &:focus {
        --link-color: var(--green);
        --link-text-color: var(--grey-900);
    }
}

.card {
    width: 100%;
    background-color: var(--grey-800);
    padding: var(--space-300);
    border-radius: 0.5rem;
}

.card__image {
    overflow: hidden;
    margin-block-end: var(--space-300);
    display: flex;
    justify-content: center;

    img {
        object-fit: cover;
        width: 80px;
        height: auto;
        border-radius: 50%;
    }
}

.card__content {
    text-align: center;
}

.card__info {
    margin-block-end: var(--space-300);
}

.card__info h1 {
    margin-block-end: var(--space-100);
}

.card__links {
    margin-block-start: var(--space-300);
}

ul[role="list"] {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
}

@media (min-width: 450px) {
    .card {
        width: 375px;
        padding: var(--space-500);
    }
}
